<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button>
      <img class="logo" src="assets/logo.png" />
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button fill="clear" color="light">
      TV Shows
    </ion-button>
  </ion-buttons>

  <ion-buttons slot="secondary">
    <ion-button fill="clear" color="light">
      Movies
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button fill="clear" color="light">
      My List
    </ion-button>
  </ion-buttons>
</ion-toolbar>
