<ion-toolbar color="dark" class="search-toolbar">
  <ion-searchbar
    animated="true"
    class="searchbar"
    [(ngModel)]="searchTerm"
    (ionChange)="searchChanged($event)"
  ></ion-searchbar>

  <ion-item lines="none">
    <ion-label>Search type</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <div class="select-option">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="movie">Movies</ion-select-option>
        <ion-select-option value="series">Series</ion-select-option>
        <ion-select-option value="episode">Episode</ion-select-option>
      </div>
    </ion-select>
  </ion-item>
</ion-toolbar>

<ion-content fullscreen="true">
  <ion-grid>
    <ion-row padding>
      <ion-col size="4" *ngFor="let item of results | async">
        <img [src]="item.Poster" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
