<ion-content fullscreen="true">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>

  <app-banner></app-banner>

  <div class="banner-toolbar">
    <app-banner-toolbar></app-banner-toolbar>
  </div>

  <ion-list>
    <ion-item lines="none">
      <p slot="start">Recently added</p>
    </ion-item>

    <app-slider></app-slider>

    <ion-item lines="none">
      <p slot="start">Trending now</p>
    </ion-item>

    <app-slider></app-slider>

    <ion-item lines="none">
      <p slot="start">Available now</p>
    </ion-item>

    <app-availablenow></app-availablenow>

    <ion-item lines="none">
      <p slot="start">Exciting US TV Dramas</p>
    </ion-item>

    <app-slider></app-slider>
  </ion-list>
</ion-content>
