ion-content {
  --ion-background-color: #141414;

  --ion-text-color: #ffffff;
}

.image-slider {
  margin: 4px !important;
}

.banner-toolbar {
  position: relative;
  top: -50px;
}
.sliders {
  position: relative;
  top: -50px;
}

.ion-align-self-center {
  align-self: center !important;
}

.availableClass {
  background-color: white !important;
  color: black !important;
}
.logo {
  height: 40px !important;
  width: 40px;
}
ion-toolbar {
  --background: transparent !important;
  // --ion-color-base: transparent !important;
}

.bannerElement {
  position: relative;
}
.toolbarTop {
  position: absolute;
  top: 15px;
}
.playButton {
  text-align: center !important;
}
