<ion-header translucent="true"> </ion-header>

<ion-content fullscreen="true">
  <div class="banner">
    <ion-slides
      [options]="BannerSlideOptions"
      #slider
      (ionSlidesDidLoad)="slidesDidLoad(slider)"
    >
      <ion-slide *ngFor="let slide of slides">
        <ion-img [src]="slide.src"></ion-img>
      </ion-slide>
    </ion-slides>
    <!-- <ion-img src="./assets/net3.jpg"></ion-img> -->
  </div>
  <div class="banner-toolbar">
    <ion-toolbar color="translucent">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>
        <ion-button color="warning" size="small"
          ><ion-icon name="play"> </ion-icon>Play</ion-button
        >
      </ion-title>

      <ion-buttons slot="end">
        <ion-button>
          <ion-icon
            slot="icon-only"
            name="information-circle-outline"
          ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="sliders">
    <ion-list>
      <ion-item lines="none">
        <p slot="start">Recently added</p>
      </ion-item>

      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of items" (click)="playSelected()">
          <ion-img [src]="item.src" class="image-slider"></ion-img>
        </ion-slide>

        <ion-slide class="ion-align-self-center">
          <ion-button fill="clear">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>

      <ion-item lines="none">
        <p slot="start">Trending now</p>
      </ion-item>

      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of items">
          <ion-img [src]="item.src" class="image-slider"></ion-img>
        </ion-slide>

        <ion-slide class="ion-align-self-center">
          <ion-button fill="clear">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>

      <ion-item lines="none">
        <p slot="start">Available now</p>
      </ion-item>

      <ion-card no-padding>
        <ion-card-content>
          <ion-img src="assets/availablebanner.jpg"></ion-img>
        </ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-buttons>
                <ion-button class="availableClass" expand="full">
                  <ion-icon slot="start" name="play"></ion-icon>
                  Play
                </ion-button>
              </ion-buttons>
            </ion-col>
            <ion-col size="6">
              <ion-buttons>
                <ion-button expand="full">
                  <ion-icon name="add" slot="start"></ion-icon>
                  My List
                </ion-button>
              </ion-buttons>
            </ion-col>
            <ion-buttons> </ion-buttons>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-item lines="none">
        <p slot="start">Exciting US TV Dramas</p>
      </ion-item>

      <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let item of items">
          <ion-img [src]="item.src" class="image-slider"></ion-img>
        </ion-slide>

        <ion-slide class="ion-align-self-center">
          <ion-button fill="clear">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </ion-button>
        </ion-slide>
      </ion-slides>

      <ion-item lines="none">
        <p slot="start">My List</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
