ion-content {
  --ion-background-color: #141414;

  --ion-text-color: #ffffff;
}

.banner-toolbar {
  position: relative;
  top: -50px;
}

.ion-align-self-center {
  align-self: center !important;
}

.navbar {
  position: absolute;
  top: 20px;
}
