<ion-grid>
  <ion-row>
    <ion-card>
      <ion-img src="assets/availablebanner.jpg"></ion-img>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" color="light">
        <ion-icon slot="start" name="play"></ion-icon>
        Play
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" color="medium">
        <ion-icon slot="start" name="add"></ion-icon>
        My List
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
