<ion-card no-padding>
  <ion-card-content>
    <ion-img src="assets/availablebanner.jpg"></ion-img>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-buttons>
          <ion-button class="availableClass" expand="full">
            <ion-icon slot="start" name="play"></ion-icon>
            Play
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6">
        <ion-buttons>
          <ion-button expand="full">
            <ion-icon name="add" slot="start"></ion-icon>
            My List
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-buttons> </ion-buttons>
    </ion-row>
  </ion-grid>
</ion-card>
